.footer_buttons {
  position:absolute;
  width:300px;
  height:150px;
  bottom:0px;
  right:25%;
  left:50%;
  margin-left:-150px;
}

form {
  display: grid;
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  margin: 2rem auto 0 auto;
  max-width: 600px;
  padding: 1em;
  text-align: left;
}
form input {
  background: #fff;
  border: 1px solid #9c9c9c;
}
button {
  background: lightgrey;
  padding: 0.7em;
  width: 100%;
  border: 0;
  font-family: Archivo Narrow;
  font-size: 1em;
}
button:hover {
  background: #003572;
  color: white;
}

label {
  padding: 1em 0 0.5em 0;
  font-family: Archivo Narrow;
  font-size: 1em;
}

input {
  padding: 0.7em;
  margin-bottom: 0.5rem;
  font-family: Archivo Narrow;
  font-size: 1em;
}

@media (min-width: 400px) {
  form {
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
  }

  label {
    text-align: right;
    grid-column: 1 / 2;
  }

  input,
  button {
    grid-column: 2 / 3;
  }
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  overflow: auto;
  background-color: white;
  cursor: pointer;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}
